#EditDialog
{
	/* Something will go there, ...eventually */
}

#EditDialog,
#EditDialog body
{
	height: 100%;
	padding: 0;
}

#EditDialog body > *
{
	margin: 10px 10px 5px;
}

#EditDialog .field
{
	margin: 2px 0;
}

#EditDialog .fieldgroup .sub-header
{
	line-height: 20px;
	border-bottom: 1px solid #555;
	margin: 15px 0 5px;
}

#EditDialog .field label
{
	line-height: 20px;
}

#EditDialog #PreviewArea
{
	margin-bottom: 0;
	border: 1px solid #DDD;
	height: 125px;
	overflow: auto;
}